html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mainText {
    padding: 30px 50px;
}

.mainImg {

    border-radius: 20px;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 10));
}

.smallText {
    text-align: right;
    color: #4f5050;
}

.makeYourOwnDiv {
    background: #000001;
    margin: 0;
}

.makeYourOwnText {
    margin: 100px 0 20px 0;
    color: #dde0e3;
}