@page
@model PizzaMart.Pages.Forms.CustomPizza

@{

}

<!DOCTYPE html>

<html lang="eng">
<head>
    <title>Custom Pizza</title>
</head>
<body>
<div>
    <a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>
</div>
</body>
</html>