@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize">Welcome to PizzaMart</h1>
    <h2 class="fst-italic text-dark">"A pizza lover would be like a match made in <br>pizza heaven"</h2>
    <h3 class="blockquote">Let's Begin Your Pizza Journey</h3>
    <img class="img-thumbnail" src="~/images/pizzatime.jpeg" alt="Welcome Image"/>
    <br/>
    
     <a class="btn btn-primary mt-1" asp-area="" asp-page="/Checkout/ThankYou">See Availables Tastes</a>
    
    
</div>