@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize">Welcome to <b>Pizza Mart</b></h1>
        <h2 class="fst-italic text-dark">"Pizza is not a 'trend' <b>it's a way of life</b>"</h2>
    </div>
    <div>
        <img class="mainImg img-fluid" src="~/images/pizzatime.jpeg" alt="Welcome Image"/>
    </div>
    <br/>
    <div class="card-footer">
        <h3>Let's Begin Your Pizza Journey</h3>
        <a class="btn btn-primary mt-1" asp-area="" asp-page="/Pizza">Lesss Gooooo</a>

    </div>


</div>