@page
@model Pizza

@{

}

<!DOCTYPE html>

<html lang="eng">
<head>
    <title>Pizza Menu</title>
</head>
<body>
<div class="text-center">
    <div>

        <div class="mainText">
            <h1 class="display-4 text-capitalize">Welcome to <b>Pizza Mart</b></h1>
            <h2 class="fst-italic text-dark">"Pizza is not a 'trend' <b>it's a way of life</b>"</h2>
        </div>

        <h4 class="fst-italic">Choose your favorite Pizza</h4>
        <h4>Or</h4>
        <h4 class="fst-italic">Try Our Pizza Builder</h4>
        <p class="smallText">
            <i>Only One Pizza Per Order</i>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-3">
                        <img src="images/cheeseBrown.png" class="rounded float-start figure-img" alt=""/>
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="makeYourOwnText">
                            <h3 style="text-align: left;">Create Your Own Pizza</h3>
                            <p style="text-align: left">Make Your Own Pizza with Our Pizza Maker</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomPizza">Try Now</a>
                        </div>
                    </div>
                </div>

            </div>

            @foreach (var pizza in Model.fakePizzaDB)
            {
                var imagePath = "~/images/" + (pizza.ImageTitle) + ".png";

                <div class="col-4 mb-5">
                    <img class="img-fluid" asp-append-version="true" alt="" src=@imagePath/>
                    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout" asp-route-ImageTitle="@pizza.ImageTitle" asp-route-PizzaPrice="@pizza.FinalPrice">Get This Pizza!</a>
                    <br/>
                </div>
            }
        </div>

    </div>

</div>
</body>
</html>