@page
@model PizzaMart.Pages.Pizza

@{

}

<!DOCTYPE html>

<html lang="eng">
<head>
    <title>Pizza Menu</title>
</head>
<body>
<div>
     <a class="nav-link text-dark" asp-area="" asp-page="/Forms/CustomPizza">Choose Custom Pizza</a>
     <a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>
</div>
</body>
</html>