@page
@model PizzaMart.Pages.Checkout.ThankYou

@{

}

<!DOCTYPE html>

<html>
<head>
    <title>Thank You</title>
</head>
<body>
<div>

    <br/>
    <div class="align-content-center">
        <h1 class="mainText">Thank you for ordering with us at Pizza Mart !!</h1>
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="Index">Try Another Pizza</a>
    </div>

</div>
</body>
</html>